@{
    ViewData["Title"] = "Privacy Policy";
}
<head>
    <link rel="stylesheet" href="~/css/SiteBase.css" />
</head>

<div class="BikesContent areaMargin shadow background" style="background-color: #E6E6E6;">
    <fieldset>
        <legend>
            <h3>Cookies</h3>
        </legend>
    <p>
        Denna webbsajt använder cookies. Enligt lagen om elektronisk kommunikation som trädde i kraft den 25 juli 2003 ska alla besökare på webbplatser som använder cookies informeras om detta. Besökaren ska även ges möjlighet att förhindra att cookies lagras på datorn.
    </p>
    <p>
        En cookie är en datafil som lagras i din dator. Cookien innehåller ingen personinformation utan används för att göra det lättare för dig att använda vår tjänst samt för besökarstatistik.
    </p>
    <p>
        Om du inte vill tillåta lagring av cookies på din dator kan du stänga av det i din webbläsares inställningar. Det innebär dock att funktionaliteten på webbsajten kan begränsas.
    </p>
    <p>
        <a href="https://www.datainspektionen.se/lagar-och-regler/cookies/">Läs mer om cookies på Datainspektionens webbplats</a>
    </p>
    <p>
        <a href="https://www.datainspektionen.se/lagar-och-regler/cookies/cookies-olika-typer-och-anvandning/">Läs mer om olika typer av cookies på Datainspektionens webbplats</a>
    </p>
    <p>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/icons/71x48.png" /></a>
    </p>
    </fieldset>
</div>
